body{
    margin: 0px;
    font-family: Roboto;
    background: url("https://i.picsum.photos/id/1032/2000/2000.jpg?hmac=OM-mG6p_m8Lmg2uNYzmOBOg7DSK8n9beLHISH07R2bk");
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#bands{
    list-style: inside square;
    font-size: 20px;
    background: #ffffff;
    width: 500px;
    margin: auto;
    padding: 0;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.05);
}

#bands li{
    border-bottom: 1px solid #efefef;
    padding: 20px;
}

#bands li:last-child{
    border-bottom: 0;
}

a{
    color: blanchedalmond;
    text-decoration: none;
}